body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main-head {
  position: relative; }

section {
  padding: 70px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }
  section h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px; }

.s_descr {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  margin-bottom: 130px; }
  .s_descr::after {
    content: "";
    width: 150px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 60px; }

.s_descr_wrap {
  text-align: center; }

.main_head {
  min-height: 620px;
  padding: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }
  .logo_container img {
    height: 60px;
    width: 60px;
    z-index: 100;
    position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  z-index: 100;
  border: none;
  display: block;
  position: fixed;
  right: 20px;
  top: 20px; }

.sandwich {
  width: 32px;
  height: 2px;
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 32px;
  height: 2px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 32px;
  height: 2px;
  top: 4px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
  display: block; }

.sw-footer {
  position: relative;
  width: 32px;
  height: 2px;
  top: 8px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
  display: block; }

.sandwich.active .sw-topper {
  top: 2px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 0px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s; }
    .top_mnu ul li:nth-child(4) a {
      -webkit-animation-duration: 2s;
      -moz-animation-duration: 2s;
      animation-duration: 2s; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      text-transform: uppercase;
      font-size: 12px;
      opacity: 0;
      position: relative;
      height: 60px; }
      .top_mnu ul a span {
        display: block;
        position: relative;
        top: -40px;
        left: 0;
        height: 100%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .top_mnu ul a span:hover {
          background-color: rgba(255, 255, 255, 0.08); }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row;
    width: 100%;
    height: 100%; }
    .top_wrapper .top_descr .top_centered {
      width: 100%;
      height: 100%;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      background-color: rgba(0, 0, 0, 0.6); }

.top_text {
  display: inline-block; }
  .top_text h1 {
    display: inline-block;
    padding: 10px 35px;
    color: #fff;
    border: 8px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.8em;
    margin-left: 20px;
    margin-right: 20px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }
  .top_text p {
    margin: 0;
    text-transform: uppercase;
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
    animation-delay: 1.7s; }

.toggle_mnu {
  background-color: #000; }

.h_opacify {
  opacity: 0.3;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right;
    line-height: 0; }
    .main_footer .social_wrap ul {
      margin: 0; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

.resume_container .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .resume_container .left h3 {
    text-align: right; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
.resume_container h3 {
  margin-top: 30px;
  font-weight: 600; }
.resume_container .year {
  display: inline-block;
  margin-bottom: 20px;
  padding: 0 10px;
  color: #fff;
  font-weight: 600;
  padding: 0 15px;
  font-style: italic; }

.resume_icon {
  font-size: 40px;
  margin-bottom: 35px; }
  .resume_icon .year {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 10px;
    color: #fff;
    font-weight: 600;
    padding: 0 15px;
    font-style: italic; }
  .resume_icon strong {
    font-weight: 600;
    font-style: none;
    text-transform: uppercase; }
  .resume_icon .resume_description {
    font-style: italic; }
  .resume_icon .resume_item {
    margin-bottom: 35px; }
    .resume_icon .resume_item p {
      margin-top: 10px; }
    .resume_icon .resume_item:last-child {
      margin-bottom: 0; }
      .resume_icon .resume_item:last-child p {
        margin-bottom: 0; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block; }

.podrt_descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto; }
  .podrt_descr p,
  .podrt_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .podrt_descr h3 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    padding-top: 25px;
    margin-bottom: 0; }
  .podrt_descr p {
    margin-bottom: 0; }
  .podrt_descr img {
    width: 100%;
    margin-top: 10px; }

.modal-box-content {
  position: relative; }

.contact_box {
  margin-bottom: 20px; }
  .contact_box h3 {
    text-align: left;
    margin-bottom: 0px;
    color: #000;
    font-size: 14px; }
  .contact_box .contacts_icon {
    font-size: 30px; }
  .contact_box p {
    margin-bottom: 5px; }

.main_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }

.form-group {
  display: block;
  margin-bottom: 25px; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    text-indent: 12px;
    line-height: 40px;
    font-size: 12px;
    background-color: transparent; }

/*# sourceMappingURL=main.css.map */
